<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987605509141-j748ju2lm5pfnn60ami1pj0dtgh9a0da.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987605509141-j748ju2lm5pfnn60ami1pj0dtgh9a0da</string>
	<key>API_KEY</key>
	<string>AIzaSyAcUJB7aPOHujM5SyhfndnJS-Mjjk2riFw</string>
	<key>GCM_SENDER_ID</key>
	<string>987605509141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HassaneSidibe.Envoy</string>
	<key>PROJECT_ID</key>
	<string>envoy-9c728</string>
	<key>STORAGE_BUCKET</key>
	<string>envoy-9c728.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987605509141:ios:dab38a088e67b577dcda1c</string>
</dict>
</plist>